{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>NB的量化交易系统</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "cover.css" %}" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">JackFinTech</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="Registers/">登录</a>
            <a class="nav-link" href="/Registers/Signup">注册</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">NB的量化交易系统</h1>
          <br/>
        <p class="lead">量化交易是指以先进的数学模型替代人为的主观判断，利用计算机技术从庞大的历史数据中海选能带来超额收益的多种“大概率”事件以制定策略，极大地减少了投资者情绪波动的影响，避免在市场极度狂热或悲观的情况下作出非理性的投资决策。</p>

        <p class="lead">
          <a href="Registers/" class="btn btn-lg btn-secondary">开始</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">

            <p class="lead">1151003123 杨自修 1151002054 柴霄宇</p>
            <p class="lead">首都师范大学 信息工程学院 计算机科学与技术系</p>
          <p>欢迎联系作者：<a href="#">@杨自修</a><a href="#">@柴霄宇</a></p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!--<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
    <script src="{% static "popper.min.js" %}"></script>
    <script src="{% static "bootstrap.min.js" %}"></script>
  </body>
</html>
