


<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">你好，{{ nickname }}</a>
        <form class="w-100"action="/Search"  method="get" target="_blank">
{#        <form class="w-100"target="http://xxjs.mycnu.jackquantop.com/search"  ng-submit="core_context_href='/Search'">#}
      <input class="form-control form-control-dark " type="text"name="wd" placeholder="Search" aria-label="Search">
        </form>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/Registers/Logout">Sign out</a>
        </li>
      </ul>
</nav>
